* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --background: #f5f4f0;
  --border: #d9d9d9;

  --text-primary: #1b1b1b;
  --text-secondary: #333333;
  --text-tertiary: #696969;
  --text-headline: #e1624f;

  --accent-blue: #0c51a7;
  --accent-orange: #e95e10;
  --accent-pink: #e5245e;
  --accent-purple: #591b98;
}

body {
  background-color: var(--background);
  font-family: "Open Sans", sans-serif;
}

main {
  width: 1120px;
  margin: 88px auto 65px;
}

#title-page {
  margin-bottom: 40px;
}

.headline {
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--text-headline);
}

h1 {
  font-size: 3.6rem;
  font-weight: bold;
  color: var(--text-primary);
}

.main-image {
  border-radius: 28px;
  width: 100%;
  margin-bottom: 24px;
}

.subtitle {
  font-size: 1.6rem;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  color: var(--text-secondary);
}

.divider {
  width: 100%;
  height: 1px;
  margin: 44px 0 64px;
  background-color: var(--border);
}

#title-list {
  margin-bottom: 64px;
}

h3 {
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--text-primary);
  margin-bottom: 4px;
}

#title-list h3 {
  margin-bottom: 8px;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--text-secondary);
}

.image-list {
  border-radius: 28px;
  height: 350px;
  width: 100%;
  margin-bottom: 20px;
  object-fit: cover;
}

ul {
  color: var(--text-secondary);
  font-size: 1.6rem;
  font-weight: bold;
}

li {
  margin-left: 15px;
}

.history {
  color: var(--accent-blue);
}

.couples {
  color: var(--accent-purple);
}

.families {
  color: var(--accent-pink);
}

.money {
  color: var(--accent-orange);
}

ul li::marker {
  content: "・";
  color: var(--text-secondary);
}

.card-travel:not(:last-child) {
  margin-bottom: 48px;
}

.divider:last-of-type {
  margin: 40px 0;
  background-color: var(--border);
}

#conclusion {
  text-align: center;
}

footer {
  font-size: 1.6rem;
  color: var(--text-secondary);
  text-align: center;
  padding-bottom: 48px;
}

footer img {
  vertical-align: middle;
}
